<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.authorityMapper">
	
	<resultMap id="RM_selectAuthorityList" type="ExtjsStoreVO">
		<result column="total" property="total" javaType="int"/>
		<collection property="datas" column="total" 
					javaType="java.util.ArrayList"
					ofType="Authority" 
					select="selectAuthority" />
	</resultMap>
	
	<select id="selectAuthorityList" resultMap="RM_selectAuthorityList">
		select (select count(*) from [웹].[dbo].[권한]) as total 
	</select>
	
	<select id="selectAuthority" parameterType="int" resultType="Authority">
		select 권한번호 as authNum, 권한이름 as authName, 설명 as description
		  from [웹].[dbo].[권한]
	</select>
	
	<update id="updateAuthority" parameterType="Authority">
		update [웹].[dbo].[권한]
		   set 권한이름 = #{authName},
		   	       설명 = #{description}
		 where 권한번호 = #{authNum}
	</update>
	
	<select id="selectAuthorityDefineList" resultType="map">
		select 권한한글명 as name, convert(varchar(10), 권한번호) as value
		  from [웹].[dbo].[권한]
		 where 권한번호 != 3 and 권한번호 != 1
	</select>
</mapper>
