<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.statisticMapper">
	
	<select id="selectUserKind" resultType="map">
		select isnull(tbl1.권한번호, tbl2.권한번호) gradeNum,
		       isnull(cnt, 0) cnt,
			   case  권한이름 
			   when 'ROLE_ECONOMY' then '이코노미회원'
			   when 'ROLE_SMART' then '스마트회원'
			   when 'ROLE_PREMIUM' then '프리미엄 회원' 
			   else '등급없음'
			   end  gradeName
		 from (
				select 권한번호, count(권한번호) cnt
				from (
					select isnull(권한번호, 0) 권한번호
					  from [웹].[dbo].[계정] t1
					  left outer join [웹].[dbo].[계정_권한] t2 on t1.아이디 = t2.계정_아이디 and t2.권한번호 != 3 and t2.권한번호 != 1
				) tb1
				group by 권한번호
		) tbl1
		full outer join (
			 select 권한번호, 권한이름 from [웹].[dbo].[권한] where 권한번호 not in (1,3)
		) tbl2 on tbl2.권한번호 = tbl1.권한번호
	</select>
	
</mapper>
