<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.yaggwanMapper">
	
	<resultMap type="Yaggwan" id="RM_Yaggwan">
		<result column="일련번호"		property="key"			javaType="string"/>
		<result column="내용"			property="content"		javaType="string"/>
		<result column="카테고리명"		property="categoryName" javaType="string"/>
		<result column="순서"			property="soonseo"		javaType="int" />
		<result column="필수여부"		property="required"		javaType="string"/>
		<result column="작성일자"		property="writeDate"	javaType="string"/>
	</resultMap>
	
	<select id="selectYaggwanList" resultMap="RM_Yaggwan">
	select 일련번호, 내용, 작성일자, 카테고리명, 순서, 필수여부
	  from [웹].[dbo].[약관]
	  order by 순서
	</select>
	
	<update id="updateYaggwanSoonseo" parameterType="Yaggwan">
	{ 
		call  [웹].[dbo].[USP_약관순서](
			#{originSoonseo, mode=IN, jdbcType=SMALLINT, javaType=int},
			#{soonseo, mode=IN, jdbcType=SMALLINT, javaType=int},
			#{key, mode=IN, jdbcType=SMALLINT, javaType=string}
		)
	} 
	</update>
	
	<update id="updateYaggwan" parameterType="Yaggwan">
	update [웹].[dbo].[약관]
	   set 내용 = #{content},
	   	      작성일자 = getDate(),
	   	      순서 = #{soonseo},
	   	      카테고리명 = #{categoryName},
	   	     필수여부 = #{required}
	 where 일련번호 = #{key}
	</update>
	
	<delete id="deleteYaggwan" parameterType="Yaggwan">
	{
		call [웹].[dbo].[USP_약관순서_삭제](
			#{key, mode=IN, jdbcType=INTEGER, javaType=string}
		)
	}
	</delete>
	
	<insert id="insertYaggwan" parameterType="Yaggwan">
	insert into [웹].[dbo].[약관] (내용, 작성일자, 카테고리명, 순서, 필수여부)
	values (#{content}, getDate(), #{categoryName}, (select max(순서) + 1 from [웹].[dbo].[약관]), #{required})
	</insert>
</mapper>
